body{
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: gray;
}
section{
    display: flex;
    margin-bottom: 200px;
    background-image: url(images/dream-bg.png);
    background-repeat : no-repeat;
    background-position-x: right;
    
}
.name{
    color:rgba(255, 0, 0, 0.623);
    font-weight: 1000;
    font-size: 45px;
}
.div1{
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 10px;
    padding-left: 0%;
    padding-right: 5px;
    width: 60%;
    border-left: solid 5px plum;
    border-top: solid 5px plum;
    border-bottom: solid 5px plum;
    border-radius: 35%;
}
.div2{
    margin-top: 35px;
    margin-left: 9px;
    width: 60%;
}

.pra{
    font-size: 20px;
    text-align: justify;
}
.hire{
    background-color:salmon;
    border: solid 3px gray;
    text-decoration: none;
    color: #708090;
    border-radius: 25%;
    padding: 2%;
}
.footer{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}